---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
    author?: string;
  };
}

const {
  content: { title, description, pubDate, updatedDate, heroImage, author },
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css" />

    <style>
      hr {
        border-top: 1px solid #ddd;
        margin: 0;
      }
    </style>
  </head>

  <body>
    <Header />
    <main>
      <article>
        {heroImage && <img width={720} height={360} src={heroImage} alt="" />}
        <h1 class="text-3xl mb-4 text-left">{title}</h1>
        <div class="flex justify-between text-gray-700 text-sm italic">
          <div>{author && `Written by: ${author}`}</div>
          <div>{pubDate && <time>{pubDate}</time>}</div>
        </div>
        {
          updatedDate && (
            <div>
              Last updated on <time>{updatedDate}</time>
            </div>
          )
        }
        <hr />
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
